<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>404 Not Found</title>
</head>

<body>
    <header class="app-header">
        <div class="app-title">
            <h1 class="app-title">Luquet Shop</h1>
        </div>
        <nav class="app-nav">
            <ul>
                <li><a href="/products">Shop</a></li>
                <li><a href="/products/new-product">New Product</a></li>
            </ul>
        </nav>
        <div class="app-toggle-menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <main>
        <h2>ERROR 404: The URL you are trying to access does not exist</h2>
        <button><a href="/products">Return Home</a></button>
    </main>
</body>

</html>