<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Home</title>
</head>

<body>
    <header>
        <h1>User Management</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href='/home'>Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-home">

    </main>
</body>

</html>