<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Users</title>
</head>

<body>
    <header>
        <h1>User Management</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href='/home'>Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-users">
        <ul>
            <li>User number: 1</li>
            <li>User number: 2</li>
            <li>User number: 3</li>
            <li>User number: 4</li>
            <li>User number: 5</li>
            <li>User number: 6</li>
            <li>User number: 7</li>
            <li>User number: 8</li>
        </ul>
    </main>
</body>

</html>